* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

header {
  width: 100%;
  background: #212933;
  display: flex;
  justify-content: space-between;
  padding: 15px 0 0 15px;
}

#logo-img-box {
  color: white;
  display: flex;
}

.img-fundo-games {
  display: flex;
  justify-content: flex-end;
}

.logo-img {
  height: 130px;
  display: block;
}

#logo-title-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo-title {
  color: white;
  text-align: left;
  font-size: 2em;
  margin-left: 15px;
}

#img-fundo-cs,
#img-fundo-dota,
#img-fundo-magic,
#img-fundo-devs {
  position: relative;
  width: 150px;
  height: 100px;
  background-size: cover;
  margin-right: 20px;
}

#img-fundo-cs::after,
#img-fundo-dota::after,
#img-fundo-magic::after,
#img-fundo-devs::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  content: "";
}

#img-fundo-cs {
  background-image: url(../Images/cs.jpg);
}

#img-fundo-dota {
  background-image: url(../Images/dota2.jpg);
}

#img-fundo-magic {
  background-image: url(../Images/magic.jpg);
}

#img-fundo-devs {
  background-image: url(../Images/code.jpg);
}

#header-links {
  width: 100%;
  color: white;
  background: #212933;
}

#header-link-ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 5px;
}

#header-links ul li {
  width: 150px;
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

#header-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.9em;
}

#header-links ul li:hover {
  background: #96a2af;
}

#header-links ul li:hover a {
  color: #212933;
}

#main {
  width: 100%;
  display: flex;
}

#main-menu {
  width: 350px;
  background: #96a2af;
  padding: 15px;
}

#content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px 45px;
  gap: 15px;
}

#content .card-title {
  color: #212933;
  text-transform: uppercase;
  padding: 5px 0 5px 5px;
}

/* .card-top {
  display: flex;
  align-items: center; -> SE ARRUMAR OS ÍCONES DO MAGIC E DO VSCODE, LIBERAR ESSA PORRA
  margin-left: 10px;
*/

.card {
  display: flex;
  flex-direction: column;
}

article.card {
  box-shadow: 2px 1px 13px 0px rgba(0, 0, 0, 0.3);
  border-radius: 9px;
  transition: box-shadow 0.7s;
}

article.card:hover {
  box-shadow: 2px 1px 13px 0px #100ddb;
}

article.card .user-img {
  width: 65px;
  height: 65px;
  border-radius: 9999px;
  border: 5px solid #212933;
}

#card-info {
  display: flex;
  padding: 10px;
  gap: 10px;
}

#sensei-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#sensei-info h4 {
  font-size: 12px;
}

#sensei-info p {
  font-size: 12px;
}

.card-title {
  color: #212933;
  text-transform: uppercase;
  padding: 5px;
}

#menu-link-ul {
  list-style: none;
  padding: 15px;
  font-size: 0.9em;
  line-height: 35px;
  width: 100%;
}

#navigation-links ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  padding-left: 15px;
}

#navigation-links ul li a:hover {
  text-decoration: none;
  background: #212933;
  color: #96a2af;
}

footer {
  width: 100%;
  background: #212933;
  display: flex;
  padding: 15px 0 0 15px;
  color: #212933;
}

/* ============================================ */

@media screen and (max-width: 900px) {
  header {
    flex-direction: column;
  }
  #main-menu {
    display: none;
  }

  #content {
    grid-template-columns: 1fr;
  }

  #logo-img-box {
    align-items: center;
    margin-bottom: 10px;
  }

  .logo-img {
    width: 75px;
    height: 75px;
  }

  #img-fundo-cs,
  #img-fundo-dota,
  #img-fundo-magic,
  #img-fundo-devs {
    width: 85px;
    height: 70px;
    background-position: center;

  }

  .img-fundo-games {
    justify-content: space-evenly;
  }

  #header-link-ul {
    gap: 0;
    margin: 0;
    font-size: 15px;
    justify-content: space-around;
  }

  .logo-title {
    font-size: 23px;
  }

  #header-links ul li {
    width: unset;
  }

  #navigation-links ul li a {
    padding: 0;
  }

}

